#define IDM_FILE_EXIT   10001
#define IDM_HELP_ABOUT  10101
#define IDM_ACTION_COMP 10201
#define IDM_ACTION_SORT 10202

MyMenu  MENU
BEGIN
	POPUP "File"
  	BEGIN
    		MENUITEM "Exit", IDM_FILE_EXIT
	END
	POPUP "Action"
	BEGIN
			MENUITEM "Compute Rate",IDM_ACTION_COMP
			MENUITEM "List Sort",  IDM_ACTION_SORT
	END
	POPUP "Help"
	BEGIN
	    	MENUITEM "About",IDM_HELP_ABOUT
	END
END
